.contenerdor-header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    border: 2px solid black;
    height: 200px;
}
.contenerdor-header> div{
    margin: 10px;
}
#imagen{
    border: 2px solid black;
    width: 150px;
    height: 150px;
}
.div-menu{
    border: 2px solid black;
    width: 600px;
    height: 150px;
}
ul#menu li {
    border: 2px solid black;
    display:inline;
    margin-left: auto;   
}

.div-login{
    text-align: center;
    border: 2px solid black;
    width: 150px;
    height: 150px;
}

.contenedor-main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 2px solid gray;  
    margin-top: 10px;
   
}
.contenedor-main> div{
    margin: 10px;
}

.contenerdor-menu-izd{
    border: 2px solid black;
    height: auto;
    

}
ul#menu-izq li {
    padding-bottom: 16px;
}

.contenedor-centro{
    border: 2px solid black;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    width: 40%;
    flex-grow: 5;
   
}

.article-contenedor{
    border: 2px solid black;
    margin: 10px;
    width: 190px;
    height: 190px;
    text-align: center;
}

.contenedor-aside{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    
}
.contenedor-footer{
    margin-top: 10px;
    border: 2px solid black;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
#foot-style{
    border: 2px solid black;
    margin: 10px;
}

